/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /*16px*/

section {
  scroll-margin-top: 4rem;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&family=Source+Sans+3:wght@200;300;400;500;600&family=Titillium+Web:wght@200;300;400;600&display=swap");

:root {
  /* colors */
  --primary-100: #cf2526;
  --primary-200: #f09a1e;
  --primary-200-alt: #f58220;
  --primary-300: #327d72;
  --primary-300-alt: #1d5e54;

  /* grey */
  --grey-50: #fcf8f8;
  --grey-100: #f9f1f1;
  --grey-200: #f0ede2;
  --grey-300: #d2e1cb;
  --grey-400: #b89494;
  --grey-500: #8a8b64;
  --grey-600: #4a6947;
  --grey-700: #553333;
  --grey-800: #263b1e;
  --grey-900: #2a0f0f;

  /* rest of the colors */
  --black: #222;
  --white: #fff;

  /* font size */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --normal-text: 1rem;
  --big-text: 1.2rem;

  /* font family */
  --primary-font: "Cormorant Garamond", serif;
  --secondary-font: "Source Sans 3", sans-serif;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  /* text-transform: capitalize; */
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

/* PROJECT CSS */
/* NAV CSS */
.nav {
  width: 100vw;
  height: 5rem;
  background: var(--white);
  box-shadow: var(--shadow-3);
  padding: 1rem 2%;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
/* .nav-div {
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 5rem;
  width: 100vw;
} */
.logo-img {
  height: 2rem;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}
.navlinks {
  display: none;
}

.sublinks {
  font-size: var(--normal-text);
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-300-alt);
  font-family: var(--primary-font);
}
.bars {
  font-size: 1.8rem;
  color: var(--primary-300);
  background: transparent;
  border-radius: var(--borderRadius);
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .nav {
    width: 100vw;
    padding: 0 7%;
  }
  /* .nav-div {
    padding: 0 7%;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
  } */
  .navlinks {
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    align-self: stretch;
    justify-content: end;
  }
  .sublinks {
    align-self: stretch;
    align-items: center;
    text-decoration: none;
    display: flex;
    padding: 0 1rem;
  }
  .logo-img {
    height: 3.2rem;
  }
  .bars {
    display: none;
  }
}

/* SIDEBAR CSS */
.sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: var(--primary-300-alt);
  /* toggle */
  opacity: 0;
  visibility: hidden;
  z-index: 50;
}
.show-sidebar {
  opacity: 1;
  left: 0;
  visibility: visible;
  transition: left 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
/* toggle class */

.sidebar-container {
  padding: 6rem 2rem;
  position: relative;
}

.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--primary-200-alt);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding-top: 2rem;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar h4 {
  margin-bottom: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--big-text);
  font-family: var(--primary-font);
}

.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  gap: 1rem;
  line-height: 1.4rem;
}

.sidebar-sublinks a {
  display: block;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: var(--secondary-font);
  text-decoration: none;
}
.sidebar-sublinks svg {
  color: var(--primary-200-alt);
}
@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

/* SUBMENU CSS */
.submenu {
  display: none;
}
@media screen and (min-width: 992px) {
  .submenu {
    display: block;
    position: fixed;
    top: 6rem;
    left: 50%;
    width: var(--fluid-width);
    max-width: var(--max-width);
    background: var(--primary-300-alt);
    padding: 2rem;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top;
    perspective: 1000px;
    border-radius: var(--borderRadius);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    z-index: -1;
  }
  .show-submenu {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg) translateX(-50%);
    z-index: 10;
  }
  .submenu h5 {
    margin-bottom: 1rem;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
  }
  .submenu-links {
    display: grid;
    row-gap: 0.5rem;
  }
  .submenu-links a {
    display: block;
    color: var(--grey-900);
    /* text-transform: capitalize; */
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--white);
    font-family: var(--secondary-font);
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .submenu-links svg {
    color: var(--primary-200-alt);
  }
}

/* HERO CSS */
.carousel {
  height: 80vh;
  /* height: calc(100vh - 5rem); */
  width: 100vw;
  /* max-width: 800px; */
  text-align: center;
  position: relative;
  overflow: hidden;
}
.carousel img {
  display: block;
  width: 100%;
  height: 80vh;
  /* margin-top: 8rem; */
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}
.carousel-bg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 80vh;
  /* margin-top: 8rem; */
  position: absolute;
  top: 0%;
}
.carousel-bg h5 {
  color: var(--grey-200);
  font-size: 3rem;
  font-family: var(--primary-font);
  position: absolute;
  font-weight: 600;
  top: 50%;
  width: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.slick-prev {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 0%;
  color: var(--primary-200);
}
.slick-prev::before {
  font-size: 3rem;
  position: absolute;
  color: var(--primary-200);
  opacity: 1;
  transform: translateY(-50%);
}
.slick-next {
  z-index: 10;
  position: absolute;
  top: 50%;
  /* left: 0%; */
  right: 5%;
  color: var(--primary-200);
}
.slick-next::before {
  font-size: 3rem;
  position: absolute;
  /* right: 300%; */
  color: var(--primary-200);
  opacity: 1;
  transform: translateY(-50%);
}
.slick-dots li button::before {
  font-size: 1rem;
  position: absolute;
  top: -300%;
  color: var(--primary-300);
  opacity: 1;
  /* color: rgba(#cf2526, 0.6); */
}
.slick-dots li.slick-active button::before {
  color: var(--primary-200);
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .slick-prev {
    display: none;
  }
  .slick-next {
    display: none;
  }
  .slick-prev::before {
    display: none;
  }

  .slick-next::before {
    display: none;
  }

  .carousel-bg h5 {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    width: 90%;
    right: 5%;
    margin: auto;
  }
  .carousel {
    height: 60vh;
  }
  .carousel img {
    height: 60vh;
  }
  .carousel-bg {
    height: 60vh;
  }
}

/* VALUES CSS */
.values {
  /* height: 100vh; */
  width: 100vw;
  background-color: var(--grey-50);
  padding: 5rem 9%;
  padding-bottom: 3rem;
}
.values h3 {
  color: var(--primary-300-alt);
  text-align: center;
  padding-bottom: 1rem;
  font-family: var(--primary-font);
  font-weight: 600;
}
.uline {
  width: 30%;
  height: 0.2rem;
  margin: auto;
  margin-bottom: 2rem;
  background: var(--primary-200-alt);
}
.values-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  text-align: center;
}
.single-value:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.single-value {
  transition: transform 600ms ease-in-out;
  background: var(--primary-300-alt);
  padding: 2rem;
  line-height: 1.5rem;
  border-radius: 3rem;
  height: 100%;
}
.single-value h4 {
  padding-bottom: 1rem;
  color: var(--primary-200);
  font-family: var(--primary-font);
}
.line {
  width: 70%;
  height: 0.2rem;
  margin: auto;
  margin-bottom: 1rem;
  background: var(--primary-200-alt);
}
.single-value p {
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: 200;
}
.value-icon {
  color: var(--primary-200);
  font-size: 3rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .values {
    padding: 3rem 1%;
  }

  .values-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .single-value:hover {
    transform: scale(1.02);
  }
  .single-value {
    line-height: 1.5rem;
    border-radius: 1rem;
  }
  .single-value p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.91rem;
  }
  .values h3 {
    font-size: 1.8rem;
  }
  .uline {
    width: 70%;
  }
}

/* ABOUT CSS */
.about {
  width: 100vw;
  /* height: 100vh; */
  background-color: var(--grey-50);
  padding: 5rem 12%;
  padding-bottom: 3rem;
}
.single-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}
.single-about h3 {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--primary-300-alt);
  font-family: var(--primary-font);
  font-weight: 600;
  /* text-transform: uppercase; */
}
.single-about p {
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 200;
  color: var(--primary-300-alt);
}
.single-about img {
  width: 100%;
  border-radius: 1rem;
  transition: transform 600ms ease-in-out;
}
.single-about img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.underline {
  width: 70%;
  height: 0.2rem;
  margin: auto;
  margin-bottom: 1rem;
  background: var(--primary-200-alt);
}
.uunderline {
  width: 90%;
  height: 0.2rem;
  margin: auto;
  margin-bottom: 1rem;
  background: var(--primary-200-alt);
}

@media screen and (max-width: 992px) {
  .about {
    background-color: var(--grey-50);
    padding: 3rem 1%;
    padding-bottom: 0;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .text1 {
    grid-area: text1;
  }
  .text2 {
    grid-area: text2;
  }
  .single-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text1"
      "img1"
      "text2"
      "img2";
    gap: 1rem;
    padding-bottom: 0;
  }
  .single-about h3 {
    font-size: 1.8rem;
  }
  .single-about p {
    font-size: 0.9rem;
  }
  .single-about img {
    border-radius: 0.5rem;
  }
  .single-about img:hover {
    transform: scale(1.02);
  }
  .uunderline {
    width: 90%;
  }
}

/* IMAGE CSS */
.img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50vh;
  padding: 2rem 1%;
  background: var(--grey-200);
  /* padding-bottom: 3rem; */
  gap: 1.2rem;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 1rem;
  transition: transform 600ms ease-in-out;
}
.img img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .img {
    display: none;
    /* grid-template-columns: 1fr;
    height: 100%;
    padding: 2rem 1%; */
  }

  /* .img img:hover {
    transform: scale(1.02);
  } */
}

/* SERVICES CSS */
.services {
  width: 100vw;
  background-color: var(--grey-50);
}
.serve-head {
  background-image: url(./assets/oil.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 100vw;
  padding: 5rem 0;
  position: relative;
}
.serve-head h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  font-size: 3rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--grey-100);
}
.bg {
  background: var(--black);
  height: 100%;
  width: 100vw;
  opacity: 0.5;
  padding: 4rem 0;
}
.serve-container {
  padding: 3rem 9%;
}

.serve-container img {
  padding: 2rem 0;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  border-radius: 2.3rem;
  transition: transform 600ms ease-in-out;
}
.serve-container img:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.services h4 {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--primary-300-alt);
  font-family: var(--primary-font);
  font-weight: 600;
}
.services p {
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 200;
  color: var(--primary-300-alt);
}

@media screen and (max-width: 992px) {
  .serve-head h3 {
    position: absolute;
    top: 80%;
    transform: translateX(-50%) translateY(-100%);
    width: 100vw;
    font-size: 2.5rem;
    text-align: center;
  }

  .serve-container {
    padding: 2rem 2%;
  }

  .serve-container img {
    padding: 1rem 0;
    border-radius: 1.5rem;
    height: 40vh;
  }
  .serve-container img:hover {
    transform: scale(1.01);
  }
  .services h4 {
    font-size: 1.5rem;
  }
  .services p {
    font-size: 0.9rem;
  }
}
/* FOOTER CSS */
.footer {
  width: 100vw;
  height: 15vh;
  background-color: var(--primary-300-alt);
  color: var(--white);
  font-weight: 400;
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 1rem;
  padding-top: 2.25rem;
}
@media screen and (max-width: 992px) {
  .footer {
    width: 100vw;
    height: 12vh;
    font-weight: 200;
    font-size: 0.7rem;
    line-height: 1.5rem;
    padding: 0 1%;
    padding-top: 1.4rem;
  }
}

/* CONTACT CSS */
.contact {
  background: var(--grey-50);
}
.contact-container {
  margin: 0 7%;
}
.contact-head {
  background-image: url(./assets/contact.jpg);
  background-position: 50% 12%;
  background-size: cover;
  height: 30vh;
  width: 100vw;
  position: relative;
}
.contact-head h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  font-size: 3rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--grey-100);
}
.contact-text {
  text-align: center;
  padding: 3rem 0 2rem;
  color: var(--black);
  font-family: var(--secondary-font);
}
.contact-text h4 {
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
}
.contact-text p {
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
  margin: auto;
  line-height: 1.5rem;
}
.form {
  /* text-align: center; */
  margin: auto;
  width: 60%;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.form-row {
  padding-bottom: 2rem;
}
.form-row label {
  text-transform: capitalize;
  font-family: var(--secondary-font);
  display: block;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--grey-800);
  padding-bottom: 0.2rem;
}
.form-input {
  width: 100%;
  height: 3rem;
  border: rgba(128, 128, 128, 0.1) solid;
  background: rgba(128, 128, 128, 0.1);
  box-shadow: var(--shadow-2);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--secondary-font);
}
.message {
  height: auto;
}
.submit-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}
.submit {
  background: var(--primary-300);
  color: var(--white);
  padding: 1rem 0;
  border: none;
  border-radius: 1rem;
  width: 25%;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 600;
}
.submit:hover {
  cursor: pointer;
  background: var(--primary-300-alt);
  transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .contact-head {
    background-position: 100% -140%;
  }
  .contact-head h3 {
    position: absolute;
    top: 80%;
    transform: translateX(-50%) translateY(-100%);
    width: 100vw;
    font-size: 2.5rem;
    text-align: center;
  }
  .contact-container {
    margin: 0 2%;
  }
  .contact-text {
    padding: 2rem 0;
  }
  .contact-text h4 {
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  .contact-text p {
    width: 100%;
    margin: 0;
  }
  .form {
    width: 100%;
  }
  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
  .submit {
    border-radius: 5rem;
    width: 40%;
  }
}

/* ERROR CSS */
.error {
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}
.error-img {
  padding-top: 5rem;
  width: 100vw;
  height: 70vh;
}
.error-img img {
  height: 100%;
  width: 100%;
}
.back {
  width: 9rem;
  background-color: var(--primary-200-alt);
  height: auto;
  padding: 1.2rem 1.2rem;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2.9rem;
}
.back-home {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  /* padding: 1.2rem 1.2rem; */
}
